<% if @albums_by_threshold_filter.any? %>
  <% @albums_by_threshold_filter.each do |album| %>
    <ul>
      <li>Title: <%= album.title %></li>
      <li>On vinyl? <%= album.on_vinyl %></li>
      <li>Number of tracks: <%= album.number_of_tracks %></li>
    </ul>
  <% end %>
<% else %>
  <p>No albums found matching the specified threshold.</p>
<% end %>

<%= link_to "Back", artist_albums_path(@artist) %>
